body {
    font-family: Arial, sans-serif;
    background-color: #d9ead3;
    margin: 0;
    padding: 20px;
    min-height: 100vh;
}

form {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 100%;
}

    margin-bottom: 8px;
    font-weight: bold; */


input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #45a049;
}

input[readonly] {
    background-color: #eee;
    cursor: not-allowed;
}
.qualification-status {
            width: 300px;
            padding: 20px;
            text-align: center;
            border-radius: 10px;
            box-shadow: 0 0 10px;
            font-weight: bold;
            color: #000;
            margin-top: 20px;
        }

        .qualify {
            background-color: #00ff00; /* Green */
        }

        .not-qualify {
            background-color: #ff0000; /* Red */
</style>